202201-divvy-tripdata.csv filter=lfs diff=lfs merge=lfs -text
202202-divvy-tripdata.csv filter=lfs diff=lfs merge=lfs -text
202203-divvy-tripdata.csv filter=lfs diff=lfs merge=lfs -text
202204-divvy-tripdata.csv filter=lfs diff=lfs merge=lfs -text
202205-divvy-tripdata.csv filter=lfs diff=lfs merge=lfs -text
202206-divvy-tripdata.csv filter=lfs diff=lfs merge=lfs -text
202207-divvy-tripdata.csv filter=lfs diff=lfs merge=lfs -text
202208-divvy-tripdata.csv filter=lfs diff=lfs merge=lfs -text
202209-divvy-tripdata.csv filter=lfs diff=lfs merge=lfs -text
202210-divvy-tripdata.csv filter=lfs diff=lfs merge=lfs -text
202211-divvy-tripdata.csv filter=lfs diff=lfs merge=lfs -text
202212-divvy-tripdata.csv filter=lfs diff=lfs merge=lfs -text
trip-data.csv filter=lfs diff=lfs merge=lfs -text